@model projectWith中佑.Models.Member
@{
    ViewBag.Title = "Index";
}
<style>
    ::-webkit-scrollbar {
        display: none;
    }

</style>



<div class="container"style="min-height:1800px;">

    <div class="row">

        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner carousel-zoom">
                <div class="active item">
                    <img class="img-responsive" src="~/images/輪播圖4.jpg">
                    <div class="carousel-caption">
                        <h2>功夫龍</h2>
                        <p>超級好玩的拉霸機遊戲</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/images/輪播圖01.jpg">
                    <div class="carousel-caption">
                        <h2>冒險者</h2>
                        <p>全新的遊戲體驗</p>
                    </div>
                </div>
                <div class="item">
                       <img class="img-responsive" src="~/images/輪播圖3.jpg">
                    <div class="carousel-caption">
                        <h2>撲克</h2>
                        <p>最刺激的體驗</p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
        </div>
    </div>
  
    <section id="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <a href="/Home/Serve">
                            <div class="col-lg-4 col-md-4">
                                <aside>
                                    <img src="~/images/功夫龍遊戲試圖.jpg"class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">拉霸機</a></h3>

                                        </div>
                                    </div>

                                </aside>
                            </div>
                        </a>
                        <a href="/Home/Serve">
                            <div class="col-lg-4 col-md-4">
                                <aside>
                                    <img src="~/images/海盜遊戲.jpg" class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">海盜奪寶</a></h3>
                                        </div>
                                    </div>

                                </aside>
                            </div>
                        </a>

                        <a href="/Home/Serve">
                            <div class="col-lg-4 col-md-4">
                                <aside>
                                    <img src="~/images/捕魚達人index.jpg" class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">捕魚達人</a></h3>
                                        </div>
                                    </div>

                                </aside>
                            </div>
                        </a>

                        <a href="/Home/Serve">
                            <div class="col-lg-4 col-md-4">
                                <aside>
                                    <img src="~/images/輪盤index.jpg" class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">輪盤</a></h3>
                                        </div>
                                    </div>

                                </aside>
                            </div>
                        </a>
                        <a href="/Home/Serve">
                            <div class="col-lg-4 col-md-4">
                                <aside>
                                    <img src="~/images/21點index.jpg" class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">21點</a></h3>
                                        </div>
                                    </div>

                                </aside>
                            </div>
                        </a>
                        <a href="/Home/Serve">
                            <div class="col-lg-4 col-md-4">
                                <aside>
                                    <img src="~/images/骰子index.jpg" class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">骰子</a></h3>
                                        </div>
                                    </div>

                                </aside>
                            </div>
                        </a>
                    </div>
                </div>

                          
                <div class="col-lg-4">
                    <div class="" style="overflow-y: scroll;height:537px" >
                     
                            <div class="widget-sidebar content">
                                <h2 class="title-widget-sidebar"><a href="/Home/Serve">客服中心</a></h2>
                                <div class="content-widget-sidebar">
                                    <ul>
                                        <a href="/Home/Serve">
                                             <li class="recent-post">
                                                <div class="post-img">
                                                    <img src="~/images/serve線上客服.jpg" class="img-responsive">
                                                </div>
                                                <a href="#"><h5>線上客服</h5></a>
                                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 先上專人為您服務，遇到問題馬上連絡我們</small></p>
                                            </li>
                                        </a>
                                        <hr>

                                        <a href="/Home/Serve">
                                            <li class="recent-post">
                                                <div class="post-img">
                                                    <img src="~/images/serveFB.png" class="img-responsive">
                                                </div>
                                                <a href="#"><h5>FB Message</h5></a>
                                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>歡迎加入我們FB粉絲專業，最新消息最新活動一手掌握</small></p>
                                            </li>
                                        </a>
                                        <hr>

                                        <a href="/Home/Serve">
                                            <li class="recent-post">
                                                <div class="post-img">
                                                    <img src="~/images/serveLine.png" class="img-responsive">
                                                </div>
                                                <a href="#"><h5>歡迎您加入我們Line@生活圈，各項活動都不錯過</h5></a>
                                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
                                            </li>
                                        </a>
                                        <hr>

                                            <a href="/Home/Serve">
                                             <li class="recent-post">
                                                <div class="post-img">
                                                    <img src="~/images/serve_Email.png" class="img-responsive">
                                                </div>
                                                <a href="#"><h5>E-mail</h5></a>
                                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>有任何問題都可以透過信箱聯絡我們</small></p>
                                            </li>
                                        </a>
                                        <hr>

                                        <a href="/Home/Serve">
                                            <li class="recent-post">
                                                <div class="post-img">
                                                    <img src="~/images/serve電話.png" class="img-responsive">
                                                </div>
                                                <a href="#"><h5>電話專線</h5></a>
                                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 在線24小時專人替您服務</small></p>
                                            </li>
                                        </a>
                                        <hr>
                            


                                    </ul>
                                </div>
                            </div>
                    
                     </div>
                </div>
            </div>
        </div>

    </section>

    <section id="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">        
                        <div class="col-lg-4 col-md-4">
                                <aside>
                                    <div class="content-title"style="background-color:#93bb2e">
                                        <div class="text-center">
                                            <h3>熱門遊戲</h3>
                                        </div>
                                    </div>
                                    <a href="/Home/gameList"onclick="admission()">
                                        <img src="~/images/indexGame.jpg" class="img-responsive">
                                        <div class="content-title">
                                            <div class="text-center">
                                                <h3><a href="#">最好玩的遊戲,最多回饋,超乎你的想像,就等您來挑戰</a></h3>
                                            </div>
                                        </div>
                                    </a>
                                

                                </aside>
                            </div>
                        <div class="col-lg-4 col-md-4">
                            <aside>
                                <div class="content-title" style="background-color:#93bb2e">
                                    <div class="text-center">
                                        <h3>超級優惠包</h3>
                                    </div>
                                </div>
                                <a href="/Home/storeMoney"onclick="admission()">
                                    <img src="~/images/indexOnSail.jpg" class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">各項優惠都在這裡等您,快來了解超級優惠方案</a></h3>
                                        </div>
                                    </div>
                                </a>


                            </aside>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <aside>
                                <div class="content-title" style="background-color:#93bb2e">
                                    <div class="text-center">
                                        <h3>世足賽最資訊</h3>
                                    </div>
                                </div>
                                <a href="/Home/Serve">
                                    <img src="~/images/indexSport.jpg" class="img-responsive">
                                    <div class="content-title">
                                        <div class="text-center">
                                            <h3><a href="#">及時比分、一手消息讓你掌握第一手資訊,比別人更準確地命中</a></h3>
                                        </div>
                                    </div>
                                </a>


                            </aside>
                        </div>
                    </div>
                </div>

  
                
            </div>
        </div>

    </section>

    <div id="myModal4" class="modal fade " role="dialog" style="">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="panel panel-login">

                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-6 tabs">
                                            <a href="#" class="active" id="login-form-link" style="position:relative;top:20px"><div class="login" id="loginbg"style="color:black">登入</div></a>
                                        </div>
                                        <div class="col-xs-6 tabs">
                                            <a href="#" id="register-form-link"><div class="register" id="registerbg">註冊</div></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="login-form" action="/Home/Index" method="post" role="form" style="display: block;">
                                                <h2 id="loginaccess">登入</h2>
                                                <div class="form-group">

                                                    <input type="text" name="phone" id="phone" tabindex="1" class="form-control" placeholder="請輸入電話" value="@Model.phone" required="" oninvalid="this.setCustomValidity('記得輸入電話喔!!!')" oninput="this.setCustomValidity('')">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="memberPassword" id="memberPassword" tabindex="2" class="form-control" placeholder="請輸入密碼" required="" oninvalid="this.setCustomValidity('記得輸入密碼喔!!!')" oninput="this.setCustomValidity('')">
                                                    <span class="help-block" style="color:red">@Session["userName"].ToString()</span>
                                                </div>
                                                <div class="col-xs-6 form-group pull-left">
                                                    <input id="checkbox1" type="checkbox" name="remember" style="position:relative;top:2px">
                                                    <label for="checkbox1">記住我</label>
                                                    &emsp;
                                                    <a href="#">忘記密碼</a>
                                                </div>
                                                <div class="col-xs-6 form-group pull-right">
                                                    <input type="submit" name="loginbtn" id="loginbtn1" tabindex="4" class="form-control btn btn-login" value="登入">
                                                </div>
                                            </form>
                                            <form id="register-form" action="/Home/Index" method="post" role="form" style="display: none;">
                                                <h2 id="inputimform">註冊(<span style="color:red">*</span>為必欄位)</h2>

                                                <div class="form-group">
                                                    <label class="control-label" for="firstName"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>姓:</label>
                                                    <input type="text" name="firstName" id="firstName" tabindex="1" class="form-control" placeholder="請輸入姓" value="@Model.firstName" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="lastName"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>名:</label>
                                                    <input type="text" name="lastName" id="lastName" tabindex="2" class="form-control" placeholder="請輸入名" value="@Model.lastName" required="">
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" for="e_mail"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>Email:</label>
                                                    <input type="email" name="e_mail" id="e_mail" tabindex="3" class="form-control" placeholder="請輸入Email" value="@Model.e_mail">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="phone"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>電話:</label>
                                                    <input type="text" name="phone" id="phone123" tabindex="4" class="form-control" placeholder="請輸入電話" value="@Model.phone" required="" pattern="09[0-9][0-9]([\-|\s]?)[0-9]{3}\1[0-9]{3}">
                                                    <span class="help-block" style="color:red">@Session["phoneRepeat"].ToString()</span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" for=""><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>密碼:</label>
                                                    <input type="password" name="memberPassword" id="memberPd" tabindex="7" class="form-control" placeholder="請輸入密碼" required="" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="" id="passaccess"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>確認密碼:</label>
                                                    <input type="password" name="memberPassword2" id="memberPassword2" onblur="checkPass()" tabindex="8" class="form-control" placeholder="再輸入一次密碼" required="" value="">

                                                    <span class="help-block" style="color:red">@Session["passwdNotRepeat"].ToString()</span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" for="nickName"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>暱稱:</label>
                                                    <input type="text" name="nickName" id="nickName" tabindex="9" class="form-control" placeholder="請輸入暱稱" value="" required="">
                                                    <span class="help-block" style="color:red">@Session["nickNameRepeat"].ToString()</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="nickName"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>地址:</label>
                                                    <input type="text" name="member_address" id="member_address" tabindex="9" class="form-control" placeholder="請輸入地址" value="@Model.member_address" required="">
                                                    <span class="help-block"style="font-size:12px" >請輸入正確地址，方便禮物寄送</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="sex"><font color="red" style="position:relative; font-weight:bold;font-size: 10px"></font>性別:</label>
                                                    <label class="radio-inline" for="radios-0">
                                                        <input type="radio" name="sex" id="sex-0" value="boy" @((Model.sex == "boy") ? "checked" : "")>
                                                        男
                                                    </label>
                                                    <label class="radio-inline" for="radios-1">
                                                        <input type="radio" name="sex" id="sex-1" value="girl" @((Model.sex == "girl") ? "checked" : "")>
                                                        女
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="checkbox-inline" for="checkBox-0">
                                                        <input type="checkbox" name="checkBox" id="checkBox-0" value="1" required>
                                                        <a href="loginProvacy" target="_blank"><font color="red" style="position:relative; font-weight:bold;font-size: 10px">*</font>隱私暨會員條款</a>
                                                    </label>
                                                </div>
                                                <div class="form-group">

                                                    <input type="hidden" name="pocketPoint" id="pocketPoint" tabindex="4" class="form-control" value="0">

                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input type="submit" name="loginbtn" id="loginbtn2" tabindex="10" class="form-control btn btn-register" value="確認註冊">
                                                        </div>
                                                    </div>
                                                </div>



                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>


@if (Model.memberId == 1)
{ @Model.e_mail
}
else
{ @Model.phone}




<script>
                    //畫面上片段密碼1和密碼2是否一樣填完資料會自動跳出警告畫面
    function checkPass() {

        var memberP1 = document.getElementById("memberPd").value;
      

        var memberP2 = document.getElementById("memberPassword2").value;

        if (memberP1 != memberP2) {

            alert("輸入密碼不同！");

            return false;

        }

        return true;

    }

</script>






<script>
   
    document.getElementById("loginbg").onclick = function () { document.getElementById("loginbg").style.background = "green"; document.getElementById("registerbg").style.background = " #e8e9ec"; }
    document.getElementById("registerbg").onclick = function () { document.getElementById("registerbg").style.background = "green"; document.getElementById("loginbg").style.background = "#e8e9ec" }

    $(function () {
        $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>

<script>
    $("#inputimform").click(function () {
        document.getElementById("firstName").value="蝙";
        document.getElementById("lastName").value="蝠俠";
        document.getElementById("e_mail").value="batman@yahoo.com.tw"
        document.getElementById("phone123").value = "0968741068";
        document.getElementById("memberPd").value = "batman13579";
        document.getElementById("memberPassword2").value ="";
        document.getElementById("nickName").value="小波";
        document.getElementById("sex-0").checked = "checked";
        document.getElementById("checkBox-0").checked = "checked";
        document.getElementById("member_address").value = "台中市西屯區福星路2段50號";
    });


    $("#passaccess").click(function () {
        document.getElementById("firstName").value = "蝙";
        document.getElementById("lastName").value = "蝠俠";
        document.getElementById("e_mail").value = "batman@yahoo.com.tw"
        document.getElementById("phone123").value = "0968714068";
        document.getElementById("memberPd").value = "batman13579";
        document.getElementById("memberPassword2").value = "batman13579";
        document.getElementById("nickName").value = "Batman";
 
    });



    $("#loginaccess").click(function () {
        document.getElementById("phone").value = "0968714068";
        document.getElementById("memberPassword").value = "batman13579";
      
   
    });


</script>
